<?xml version="1.0" encoding="UTF-8"?>
 
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
           id="fr.nconcepts.echo"
      version="0.1.0">
    <name>Echo</name>
    <description>Sample PhoneGap Echo Plugin</description>
    <license>MIT</license>
    <keywords>phonegap,echo</keywords>
 
 
    <js-module src="www/echo.js" name="Echo">
        <clobbers target="window.echo" />
    </js-module>
 
    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Echo">
                <param name="android-package" value="fr.nconcepts.plugins.Echo"/>
            </feature>
        </config-file>
 
        <source-file src="src/Echo.java" target-dir="src/fr/nconcepts/echo" />     
     </platform>         
</plugin>